# Configuración general de base de datos
DB_USER=dev_user
DB_PASSWORD=dev_password
DB_ROOT_PASSWORD=root_password

# Seguridad JWT
JWT_SECRET=FinanceAI_Secret_Key_Super_Segura_2026_JWT_Token_HS256_Min$
JWT_EXPIRATION_HOURS=24

# URLs de servicios internos (en Docker Compose)
ML_SERVICE_URL=http://ml-service:8000
AUTH_SERVICE_URL=http://auth-service:8081
GATEWAY_PORT=8080
FRONTEND_PORT=3000
